* {
    font-family: "Montserrat";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
}

section {
    padding: 10px 128px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 128px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #272727;
}

.nav-links li > a:hover {
    font-weight: bold;
}

.cta-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    padding: 8px 16px;
    background-color: #272727;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: #272727;
    border: 1px solid #272727;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.desc-home h1, h2, p {
    margin: 0;
    margin-top: 10px;
}

.desc-home h1 {
    font-size: 32px;
}

.desc-home p {
    font-weight: 400;
}

.desc-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.home-buttons {
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

.btn.home {
    width: 128px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
}

.img-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.img-home img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}