* {
    font-family: "Montserrat";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 128px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #272727;
}

.nav-links li > a:hover {
    font-weight: bold;
}

.cta-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat-btn {
    padding: 10px 20px;
    background-color: #272727;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.chat-btn:hover {
    background-color: white;
    color: #272727;
    border: 1px solid #272727;
}